{:duct.profile/base
 {:duct.core/project-ns ema-api

  :duct.router/ataraxy
  {:routes {"/emas" {[:get] [:ema-api.handler/emas]}
            "/ema" {[:post {body :body-params}] [:ema-api.handler/create-ema body]}}}

  :duct.server.http/jetty {:port 3004}

  :ema-api.handler/emas {}
  :ema-api.handler/create-ema {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}}
